body {
  background: #000;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bar {
  width: 200px;
  height: 4px;
  background: #333;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

#fill {
  height: 100%;
  width: 50%;
  background: gold;
  transition: width 0.1s linear;
}